<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script data-require="angularjs@1.5.7" data-semver="1.5.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
        <title>공공기관 광고 현황 조회</title>
      </head>
<body bgcolor="#003e98" ng-app="myApp" ng-controller="MyController">

  <div class="headerImg">
    <div class="headImgReal" id="headImgReal"></div>
  </div>

  <div class="mainDivParents">
    <div class="mainDiv">
      <div class="mainHeader">
        <div class="mainHeaderInner">
          <i class="fas fa-search"></i>
          <br>부처 검색
        </div>
      </div>
      <div class="parentsDiv">
        <div ng-click="greeting()" class="parentDivSub2">김의겸입니다</div>
        <div ng-repeat="pa in parents" ng-click="selectParents(pa)" class="parentDivSub">{{pa}}</div>
      </div>

      <div class="childsDiv">
        <div ng-repeat="ch in childs" ng-click="selectChild(ch)" class="childDivSub">{{ch}}</div>
        <div ng-show="childs.length==0 && !isGreeting" class="childNoDiv">상위 기관을 선택하세요</div>
        <div ng-show="childs.length==0 &&  isGreeting" class="childNoDiv2">
          <span class="greetingHead2"><B><i>매년 1조1천억 집행되는 정부광고 투명하게 공개해야 합니다</i></b></span><br>
          <span class="greetingHead3">국정감사에서 '영업비밀' 명목으로 베일에 싸인 정부광고 집행내역을 국민들께 최초 공개합니다</span>
          <br><br>
          존경하는 국민 여러분 안녕하십니까, <br>
          열린민주당 국회의원 김의겸입니다.<br>
          <br>
          매해 국민세금으로 언론사에 집행되는 정부광고 내역은 국회 보고가 원칙이지만<br>
          정확한 세부 내역은 국민들이 알 방법이 없었습니다.<br>
          정보공개청구를 해도 공개하지 않았었습니다<br>
          어떤 공공기관, 어떤 정부부처가 어떤 신문사-포털-인터넷-방송사에 <br>
          얼만큼의 가격을 지불하고 광고를 하는지 국민들께서 당연히 알아야 하지 않을까요?<br>
          <br>
          의원실에서 최초 공개했습니다. <br>
          대상은 2014년부터 2021년까지, 정부 18부와 산하기관 및 공공기관이며<br>
          신문매체는 상위 10개사, 방송매체는 지상파 3사 및 종편보도채널입니다<br>
          인터넷 매체는 네이버·다음 등 포털, 유튜브 등을 포함한 전체 인터넷매체입니다.<br>
          <br>
          신문 부수 부풀리기, ABC협회 부수조작 지적, 사무검사, 정책활용 중단까지, <br>
          지금껏 끌고 온 것들이 바로 정부광고가 제대로 집행되게 하자, <br>
          1조원 넘는 국민세금이 제대로 운영되게 하자 이것이었는데, <br>
          정작 집행 단계에서 '영업비밀'을 이유로 국민들께서 모르고 계시다면<br>
          무슨 소용이겠습니까?<br>
          <br>
          데이터가 완벽하지는 않습니다.<br>
          지자체 집행내역은 카운트하지 않았습니다. <br>
          우선 베일에 싸인 정부광고 현황을 공개하고 논의의 물꼬를 트고자 합니다. <br>
          이번에는 의원실 차원에서 공개했지만, 정부광고 세부내용을 '제대로'<br>
          국민 누구나 볼 수 있도록 공개하는 법안도 준비하고 있습니다.<br>
          아울러 최소한 언론진흥재단을 거쳐서 나가는<br>
          기사형광고에 대해서만이라도 구체적으로 명시하고,<br>
          불법광고 모니터링 내용도 공시하는 근거까지 마련하는 법안입니다.<br>
          <br>
          ABC-부수조작 개혁이 가장 오래된 언론개혁 <b>'시즌1'</b>이었다면<br>
          정부광고가 투명하게 집행되는 데까지가 <b>'시즌2'</b>인 것입니다<br>
          <br>
          국민 여러분의 많은 성원 부탁드립니다. 고맙습니다.<br>
          <br>
          <br>
          <b>국회의원 김의겸 올림</b><br>
        </div>
      </div>

      <div class="searchDiv">
        <form action="/SearchResult" accept-charset="utf-8" method="GET">
          <i class="fas fa-search-plus"></i><input type="text" class="searchBox" id="searchBox" name="value" placeholder="찾고자 하는 부처를 입력하세요" ng-model="searchName">
          <input class="searchButton" id="seachButton" type="submit" value = "검색">
        </form>
      </div>
    </div>

    
  </div>
  
  

  <div class="footer">
    <div class="footerInner2">Last update : 2021.09.30. 김의겸 의원실</div>
    <div class="footerInner"><a href="https://blog.naver.com/kek9580"><i class="fas fa-home"></i></a> &nbsp;&nbsp;&nbsp;
                             <a href="https://twitter.com/kyummy63"><i class="fab fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;
                             <a href="https://www.youtube.com/channel/UCLwDpdPbcsq0R2398JO_oWQ"><i class="fab fa-youtube"></i></a> &nbsp;&nbsp;&nbsp;
                             <a href="https://www.facebook.com/profile.php?id=100000329595989"><i class="fab fa-facebook-square"></i></a> &nbsp;&nbsp;&nbsp;
                             <a href="mailto:kek9580@naver.com"><i class="far fa-envelope"></i></a> &nbsp;&nbsp;&nbsp;
    </div>
  </div>

  <script src="../JS/Index.js"></script>
  <script src="../JS/IndexAngular.js"></script>
  <script src="../JS/PlatformCheck.js"></script>
</body>
</html>