<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script data-require="angularjs@1.5.7" data-semver="1.5.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="../CSS/Index.css" />
        <title>공공기관 광고 현황 조회</title>
      </head>
<body bgcolor="#003e98" ng-app="myApp" ng-controller="MyController">

  <div class="headerImg">
    <div class="headImgReal"></div>
  </div>

  <div class="mainDivParents">
    <div class="mainDiv">
      <div class="mainHeader">
        <div class="mainHeaderInner">
          <i class="fas fa-search"></i>
          <br>부처 검색
        </div>
      </div>
      <div class="parentsDiv">
        <div ng-click="greeting()" class="parentDivSub2">김의겸입니다</div>
        <div ng-repeat="pa in parents" ng-click="selectParents(pa)" class="parentDivSub">{{pa}}</div>
      </div>

      <div class="childsDiv">
        <div ng-repeat="ch in childs" ng-click="selectChild(ch)" class="childDivSub">{{ch}}</div>
        <div ng-show="childs.length==0 && !isGreeting" class="childNoDiv">상위 기관을 선택하세요</div>
        <div ng-show="childs.length==0 &&  isGreeting" class="childNoDiv2">
          <span class="greetingHead">인 사 말</span><br><br>
          <br>
          안녕하세요 김의겸입니다.<br>
          이곳에 인사말을 적으세요<br>
          <br>
          동해물과 백두산이 마르고 닳도록<br>
          하느님이 보우하사 우리나라만세<br>
          <br>
          무궁화 삼천리 화려강산<br>
          대한사람 대한으로 길이 보전하세<br>
          <br>
          감사합니다.<br>
          <b>김의겸 올림</b><br>
        </div>
      </div>

      <div class="searchDiv">
        <form action="/SearchResult" accept-charset="utf-8" method="GET">
          <i class="fas fa-search-plus"></i><input type="text" class="searchBox" id="searchBox" name="value" placeholder="찾고자 하는 부처를 입력하세요" ng-model="searchName">
          <input class="searchButton" id="seachButton" type="submit" value = "검색">
        </form>
      </div>
    </div>

    
  </div>
  
  

  <div class="footer">
    <div class="footerInner2">Last update : 2021.09.30</div>
    <div class="footerInner"><a href="https://blog.naver.com/kek9580"><i class="fas fa-home"></i></a> &nbsp;&nbsp;&nbsp;
                             <a href="https://twitter.com/kyummy63"><i class="fab fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;
                             <a href="https://www.youtube.com/channel/UCLwDpdPbcsq0R2398JO_oWQ"><i class="fab fa-youtube"></i></a> &nbsp;&nbsp;&nbsp;
                             <a href="https://www.facebook.com/profile.php?id=100000329595989"><i class="fab fa-facebook-square"></i></a> &nbsp;&nbsp;&nbsp;
                             <a href="mailto:kek9580@naver.com"><i class="far fa-envelope"></i></a> &nbsp;&nbsp;&nbsp;
    </div>
  </div>

  <script src="../JS/Index.js"></script>
  <script src="../JS/IndexAngular.js"></script>
  <script src="../JS/PlatformCheck.js"></script>
</body>
</html>